@page "/preview"

<PageTitle>Preview Feed</PageTitle>
<h2>Preview Feed</h2>
@*
<div class="row">
    <div class="col-10">
        <RadzenDropDown TValue="Feed" Data="FeedSource" @bind-Value="SelectedFeed" Change="LoadFeed"
                        AllowFiltering="true" AllowClear="true" Class="w-100">
            <Template>
                @(((Feed)context).Name) - @(((Feed)context).Uri)
            </Template>
        </RadzenDropDown>
    </div>
    <div class="col-2">
        <RadzenButton Text="Load" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Click="LoadFeed"></RadzenButton>
    </div>
</div>*@


<RadzenDataList Data="FeedItems" TItem="FeedItem"
                AllowPaging="true" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Template Context="item">
        <RadzenCard class="container">
            <div class="row">
                <div class="col-12">
                    <h4>@item.Id</h4>
                    <h5>@item.Title</h5>
                    <p>@item.PublishDate.ToString("g") | <a href="@item.Uri" target="_blank">@item.Uri</a></p>
                    <p>@item.Summary</p>
                </div>
                <div class="col-12">
                    @foreach (var category in item.Categories)
                    {
                        <RadzenBadge Text="@category" BadgeStyle="BadgeStyle.Primary"></RadzenBadge>
                    }
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>
